<!DOCTYPE html>
<html lang="en">
<head>
{% include '/comm/header.html' %}
<style>
    .container{
        padding-right: 0;
        overflow: auto;
    }

    .chartContents{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 20px;
    }

    .chartContents > div{
        border: 1px solid #BDBDBD;
        padding: 10px;
        box-shadow: 3px 3px 3px 3px #BDBDBD;
        margin-right: 20px;
        margin-bottom: 20px;
    }

</style>
</head>
<body>
    <div id="commonTopHeader">
{% include '/comm/commTopHeader.html' %}
    </div>

    <div id="commonBodyContents">
{% include '/comm/sidemenu.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
            <table class="table table-bordered dailyprofit"  id = "dailyrecord">
                <thead>
                <tr style="text-align: center">
                    <th>
                        일자
                    </th>
                    <th>
                        매수금액합계
                    </th>
                    <th>
                        매도금액합계
                    </th>
                    <th>
                        잔고
                    </th>
                    <th>
                        수익금액
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="table table-bordered">
            <thead>
            <tr style="text-align: center">
                <td>코인명</td>
                <td>종류</td>
                <td>방법</td>
                <td>시장가</td>
                <td>보유량</td>
                <td>남은량</td>
                <td>거래시각</td>
                <td>지급수수료</td>
                <td>잠김</td>
                <td>거래량</td>
                <td>정산금액</td>
            </tr>

            </thead>
            <tbody>
                {% for item in orderlist %}
                    <tr>
                    <td style = text-align:center>
                {{ item["market"] }}<br>
                    </td>
                    <td style = text-align:center class="buysell">
                {% if item["side"] == 'ask' %}
                        <span style="color: blue; ">매도</span>
                    {% else %}
                        <span style="color: red; ">매수</span>
                {% endif %}
                    </td>
                    <td style = text-align:center class="ordtyp">
                {{ item["ord_type"]}}<br>
                    </td>
                    <td style = text-align:right class="mprice">
                {{ item["price"] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["volume"] }}<br>
                    </td>
                    <td style = text-align:right class="remaincoin">
                {{ item["remaining_volume"] }}<br>
                    </td>
                    <td style = text-align:right class="trdate">
                {{ item["created_at"][0:10] }} {{ item["created_at"][11:19] }}<br>
                    </td>
                    <td style = text-align:right class="trfee">
                {{ item["paid_fee"] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["locked"] }}<br>
                    </td>
                    <td style = text-align:right class="exevol">
                {{ item["executed_volume"] }}<br>
                    </td>
                    <td style = text-align:right class = "profit" >
                    </td>
                    </tr>
                {%  endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        coinm();
        cutfee();
    });
    function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
    function numberNoneCommas(x) {
		return x.toString().replace(/,/g, "");
	}

    function coinm(){
        var $Aarr = $(".mprice");
        var $Barr = $(".exevol");
        var $Carr = $(".profit");
        var $Darr = $(".trfee");
        var $Earr = $(".ordtyp");
        var $Farr = $(".trdate");
        for (var i = 0; i < $Aarr.length; i++) {
            var mval = $Aarr[i].innerText;
            if (mval === ""){
                mval=0;
            }
            var mvol = $Barr[i].innerText;
            var fee = $Darr[i].innerText;
            if ($Earr[i] === '매도'){
            var settle = parseFloat(mval) * parseFloat(mvol) - parseFloat(fee);
            }else{
            var settle = parseFloat(mval) * parseFloat(mvol) + parseFloat(fee);
            }
            $Aarr[i].innerText = numberWithCommas(mval);
            $Carr[i].innerText = numberWithCommas(Math.round(settle));
        }
        var lastdate = $Farr[0].innerText.substr(0,10);
        var bidamt = 0;
        var askamt = 0;
        for (var k = 0; k < $Aarr.length; k++){
            var trdate = $Farr[k].innerText.substr(0,10);
            if (trdate === lastdate){
                if ($Earr[k].innerText === "매수"){
                    var bidresult = numberNoneCommas($Carr[k].innerText);
                    bidamt = bidamt + parseFloat(bidresult);
                }else if($Earr[k].innerText === "매도"){
                    var askresult = numberNoneCommas($Carr[k].innerText);
                    askamt = askamt + parseFloat(askresult);
                }
            }else{

            }
        }
        var profits = askamt - bidamt;
        console.log(profits);
    }

    function cutfee(){
        var $Darr = $(".trfee");
        for (var c = 0; c < $Darr.length; c++){
            var val = $Darr[c].innerText;
            val = Math.ceil(val*10)/10;
            $Darr[c].innerText = val;
        }

    }

</script>
</html>