<!DOCTYPE html>
<html lang="en">
<head>
{% include '/comm/header.html' %}
<style>
    .container{
        padding-right: 0;
        overflow: auto;
    }

    .chartContents{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 20px;
    }

    .chartContents > div{
        border: 1px solid #BDBDBD;
        padding: 10px;
        box-shadow: 1px solid #BDBDBD;
        box-shadow: 3px 3px 3px 3px #BDBDBD;
        margin-right: 20px;
        margin-bottom: 20px;
    }

</style>
</head>
<body>
    <div id="commonTopHeader">
{% include '/comm/commTopHeader.html' %}
    </div>

    <div id="commonBodyContents">
{% include '/comm/sidemenu.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
            <table class="table table-bordered">
            <thead>
            <tr style="text-align: center">
                <td>uuid</td>
                <td>종류</td>
                <td>방법</td>
                <td>시장가</td>
                <td>보유량</td>
                <td>남은량</td>
                <td>거래시각</td>
                <td>지급수수료</td>
                <td>잠김</td>
                <td>거래량</td>
            </tr>

            </thead>
            <tbody>
                {% for item in orderlist %}
                    <tr>
                    <td style = text-align:center>
                {{ item["uuid"] }}<br>
                    </td>
                    <td style = text-align:center>
                {% if item["side"] == 'ask' %}
                        매도
                    {% else %}
                        매수
                {% endif %}
                    </td>
                    <td style = text-align:center>
                {{ item["ord_type"] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["price"] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["volume"] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["remaining_volume"] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["created_at"][0:10] }} {{ item["created_at"][11:19] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["paid_fee"] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["locked"] }}<br>
                    </td>
                    <td style = text-align:right>
                {{ item["executed_volume"] }}<br>
                    </td>
                    </tr>

                {%  endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
    });


</script>
</html>