<!DOCTYPE html>
<html lang="en">
<head>
{% include '/comm/header.html' %}
<style>
    .container{
        padding-right: 0;
        overflow: auto;
    }

    .chartContents{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 20px;
    }

    .chartContents > div{
        border: 1px solid #BDBDBD;
        padding: 10px;
        box-shadow: 1px solid #BDBDBD;
        box-shadow: 3px 3px 3px 3px #BDBDBD;
        margin-right: 20px;
        margin-bottom: 20px;
    }

</style>
</head>
<body>
    <div id="commonTopHeader">
{% include '/comm/commTopHeader.html' %}
    </div>

    <div id="commonBodyContents">
{% include '/comm/sidemenu.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
            <hr>
             <div>
             <form action="/setupbid" method="post" onsubmit="return confirm('설정내용을 저장하시겠습니까?');">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td style="text-align: center">
                            <h5>선택 코인</h5>
                        </td>
                        <td>
                            <select id="coinn" name="coinn" class="form-control form-controm-sm">
                                    {% for coin in coinlist %}
                                       <option value="{{ coin }}" {% if coin==coinn %}selected{% endif %}>{{ coin }}</option>
                                    {% endfor %}
                            </select>
                        </td>
                        <td>
                            <button type="submit" value="submit" class="form-control btn btn-primary">저장</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center"> <h5>시작 금액 (1차 구매)</h5></td>
                        <td>
                            <input id="initprice" name="initprice" class="form-control" type="text" value="5000" placeholder="5,000" style = "text-align: right" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                        </td>
                        <td>
                            <input type="text" name="skey" value="{{ session["setkey"] }}" style="display: none">
                            <input type="text" name="userno" value="{{ session["userNo"] }}" style="display: none">
                            <input type="text" name="svrno" value="{{ session["serverNo"] }}" style="display: none">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center"> <h5>구간 설정</h5></td>
                        <td>
                            <select id="bidsteps" name="bidsteps" class="form-control" style="text-align: right">
                                <option value="1">02</option>
                                <option value="2">03</option>
                                <option value="3">04</option>
                                <option value="4">05</option>
                                <option value="5">06</option>
                                <option value="6">07</option>
                                <option value="7">08</option>
                                <option value="8">09</option>
                                <option value="9" selected >10</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="form-control btn btn-primary" onclick="setbid()">적용</button>
                        </td>
                    </tr>
                    </thead>
                    <tr>
                        <td style="text-align: center"> <h5>구간 간격 (%) </h5></td>
                        <td>
                            <div style="text-align: right">
                            <div>
                            <input id="steprate" name="steprate" style="text-align: right" class="form-control" type="number" min="0" max="10" step="0.01" value="1.0">
                            </div>
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center"> <h5>설정 이율 (%) </h5></td>
                        <td>
                            <div>
                            <div>
                            <input id="profitrate" name="profitrate" style="text-align: right" class="form-control" type="number" min="0" max="10" step="0.01" value="0.45">
                            </div>
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr style="text-align: center">
                        <td>

                        </td>
                        <td>
                            매수금액
                        </td>
                        <td>
                            필요금액
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align: center"> <h5>2차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center"> <h5>3차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center"> <h5>4차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center"> <h5>5차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center"> <h5>6차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center"> <h5>7차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center"> <h5>8차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center"> <h5>9차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center"> <h5>10차 구매 </h5></td>
                        <td class="trval" style="text-align: right">

                        </td>
                        <td style="text-align: right" class = "trsum">
                        </td>
                    </tr>
                </table>
             </form>
             </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
    });

    $('#initprice').change(function(){
        var valu = $('#initprice').val();
        if (valu < 5000){
            valu = 5000
        }
        $('#initprice').val(numberWithCommas(valu));
    });
    function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
    function numberNoneCommas(x) {
		return x.toString().replace(/[\D\s\._\-]+/g, "");
	}


    function setbid(){
        var intv = numberNoneCommas($('#initprice').val());
        var $Aarr = $(".trval");
        var $Barr = $(".trsum");
        var setval = intv;
        var sumval = parseInt(intv);
        for (var i = 0; i < 10; i++) {
            if (i < $("#bidsteps").val()){
            setval = setval *2 ;
            sumval = parseInt(sumval) + parseInt(setval);
            $Aarr[i].innerText = numberWithCommas(setval);
            $Barr[i].innerText = numberWithCommas(sumval);
            } else {
                $Aarr[i].innerText = "0";
                $Barr[i].innerText = "0";
            }

        }
    }

</script>
</html>