<!DOCTYPE html>
<html lang="en">
<head>
{% include '/comm/header.html' %}
<style>
    .container{
        padding-right: 0;
        overflow: auto;
    }

    .chartContents{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 20px;
    }

    .chartContents > div{
        border: 1px solid #BDBDBD;
        padding: 10px;
        box-shadow: 1px solid #BDBDBD;
        box-shadow: 3px 3px 3px 3px #BDBDBD;
        margin-right: 20px;
        margin-bottom: 20px;
    }

</style>
</head>
<body>
    <div id="commonTopHeader">
{% include '/comm/commTopHeader.html' %}
    </div>

    <div id="commonBodyContents">
{% include '/comm/sidemenu.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
            <table class="table table-bordered">
            <thead>
            <tr style="text-align: center">
                <th>자산명</th>
                <th>잔고</th>
                <th>거래중</th>
                <th>평균매입가</th>
                <th>청산</th>
            </tr>
            </thead>
                {% for item in witems %}
                    <tr style="text-align: right">
                    <td style="text-align: center" >{{ item["currency"] }}</td>
                    <td>{{ item["balance"] }}</td>
                    <td>{{ item["locked"] }}</td>
                    <td>{{ item["avg_buy_price"] }}</td>
                    <td style="text-align: center">
                        {% if item["currency"]!="KRW" %}
                        <button class = "btn form-control btn-primary" onclick="sellcoin({{ session["userNo"] }},'{{ item["currency"] }}')">청산</button>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
    });

    function sellcoin(uno,coinn){
        data = [uno,coinn]
        console.log(data);
        $.ajax({
            type: "POST",
            url: '/sellcoin',
            data: data,
            processData: false,
            contentType: false,
            success: (res) => {
                console.log(res);
                location.reload();
                }
        });
    }
</script>
</html>